<!--
  Generated template for the Step3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          
        <ion-title>Step 3</ion-title>
        
        <next-page name="Step4Page"></next-page>
      </ion-navbar>
    </ion-header>
    <ion-content padding>
      <ion-list-header text-center>
            <button ion-button menuToggle class="menubtn">
                    <ion-icon name="menu"></ion-icon>
                  </button>
          Antenna Support Structure
        </ion-list-header>
        <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
         
                      <odoo-dropdown search="telco.tower.site.ass.type" [model]='siteForm.value.tower_type_id[0]  || siteForm.value.tower_type_id  || false'
                      (modelUpdate)='siteForm.patchValue({tower_type_id:$event})' name="Type"></odoo-dropdown>
                      
                      <auto-complete [domain]='[1,"=",1]' search='res.partner' [editValue]='siteForm.value.tower_supplier[1] || false'
                      fields='name' [model]='siteForm.value.tower_supplier[0] || false' (modelUpdate)='siteForm.patchValue({tower_supplier : $event})'
                      name="Vendor"></auto-complete>
                      <ion-item>
                          <ion-label color="primary" stacked>Model</ion-label>
                          <ion-input type="text" name="tower_model" formControlName="tower_model"></ion-input>
                      </ion-item>
                      
                      <ion-item>
                          <ion-label color="primary" stacked>Design Code</ion-label>
                          <ion-input type="text" name="tower_design_code" formControlName="tower_design_code"></ion-input>
                      </ion-item>
                      
                      <ion-item>
                          <ion-label color="primary" stacked>Height (m)</ion-label>
                          <ion-input type="number" name="to_towerheight" formControlName="to_towerheight"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="!siteForm.controls.to_towerheight.valid  && (siteForm.controls.to_towerheight.dirty || submitAttempt)">
                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                            </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Height of Building (m)</ion-label>
                          <ion-input type="number" name="to_height_building" formControlName="to_height_building"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!siteForm.controls.to_height_building.valid  && (siteForm.controls.to_height_building.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Design Capacity (m2)</ion-label>
                          <ion-input type="number" name="dcalm2" formControlName="dcalm2"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!siteForm.controls.dcalm2.valid  && (siteForm.controls.dcalm2.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Available Capacity (m2)</ion-label>
                          <ion-input type="number" name="design_antena_area" formControlName="design_antena_area"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!siteForm.controls.design_antena_area.valid  && (siteForm.controls.design_antena_area.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Design Wind Speed (m/s)</ion-label>
                          <ion-input type="number" name="tower_dws" formControlName="tower_dws"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!siteForm.controls.tower_dws.valid  && (siteForm.controls.tower_dws.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Notes</ion-label>
                          <ion-textarea type="text" name="tower_material_spec" formControlName="tower_material_spec"></ion-textarea>
                      </ion-item>
                     <ion-item>
                        <ion-label>Design Certificate</ion-label>
                        <ion-checkbox name="tower_certificate" formControlName="tower_certificate"></ion-checkbox>
                    </ion-item>  
                    <ion-item>
                        <ion-label>Fall Arrest System</ion-label>
                        <ion-checkbox name="full_arrest_system" formControlName="full_arrest_system"></ion-checkbox>
                   </ion-item>
                   <ion-item>
                      <ion-label>Grounding Provided</ion-label>
                      <ion-checkbox name="tower_grounding_provided" formControlName="tower_grounding_provided" ></ion-checkbox>
                  </ion-item> 
                  <ion-item>
                      <ion-label>Galvanization Certificate</ion-label>
                       <ion-checkbox name="tower_galvanization" formControlName="tower_galvanization"></ion-checkbox>
                  </ion-item> 
                  <ion-item>
                      <ion-label>Steel Test Report</ion-label>
                      <ion-checkbox name="tower_steel_test_report" formControlName="tower_steel_test_report"></ion-checkbox>
                   </ion-item>   
                   <ion-item>
                      <ion-label>Torque Tightening Certificate</ion-label>
                      <ion-checkbox name="tower_tt_certificate" formControlName="tower_tt_certificate"></ion-checkbox>
                   </ion-item>  
                   <ion-item>
                      <ion-label>Tower Paint</ion-label>
                      <ion-checkbox name="tower_paint" formControlName="tower_paint"></ion-checkbox>
                    </ion-item>
          
                    <ion-card>
                        
                               <survey step="3" miltiply="no"></survey>
                         
                       </ion-card>
          
                    <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
               
          </form>
  </ion-content>