<!-- Generated template for the EquipmentBasicTemplateComponent component -->
<form [formGroup]="siteForm" novalidate >
    <ion-item>
        <ion-label color="primary" stacked>Name*</ion-label>
        <ion-input type="text" name="name" formControlName="name"></ion-input>
    </ion-item>
    <auto-complete [domain]='[1,"=",1]' search='res.partner' [editValue]='siteForm.value.vendor_id[1] || false'
    fields='name' [model]='siteForm.value.vendor_id[0] || false' (modelUpdate)='siteForm.patchValue({vendor_id : $event})'
    name="Vendor"></auto-complete>       
    <ion-item>
        <ion-label color="primary" stacked>Warranty end date</ion-label>
        <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
        monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
        dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="warranty_end"></ion-datetime>
      </ion-item>
      <odoo-dropdown search="telco.equipment.maker" [model]='siteForm.value.maker_id[0]  || siteForm.value.maker_id  || false'
      (modelUpdate)='siteForm.patchValue({maker_id:$event})' name="Maker"></odoo-dropdown>
      <ion-item>
          <ion-label color="primary" stacked>Model</ion-label>
          <ion-input type="text" name="model" formControlName="model"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Serial Number</ion-label>
          <ion-input type="text" name="serial_num" formControlName="serial_num"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Notes</ion-label>
          <ion-input type="text" name="note" formControlName="note"></ion-input>
      </ion-item>
      <ion-item>
            <ion-label>On Rented Area?</ion-label>
            <ion-checkbox name="is_onland" formControlName="is_onland"></ion-checkbox>
        </ion-item>  
        <ion-item>
            <ion-label>Consume Space (CS)</ion-label>
            <ion-checkbox name="has_parrent" formControlName="has_parrent"></ion-checkbox>
        </ion-item> 
        <ion-item>
            <ion-label>Provides Space (PS)</ion-label>
            <ion-checkbox name="has_chield" formControlName="has_chield"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Top [X] (m)</ion-label>
            <ion-input type="number" name="coor_top_x" formControlName="coor_top_x"></ion-input>
        </ion-item> 
        <ion-item *ngIf="!siteForm.controls.coor_top_x.valid  && (siteForm.controls.coor_top_x.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Top [Y] (m)</ion-label>
            <ion-input type="number" name="coor_top_y" formControlName="coor_top_y"></ion-input>
        </ion-item>
        <ion-item *ngIf="!siteForm.controls.coor_top_y.valid  && (siteForm.controls.coor_top_y.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Bottom [X] (m)</ion-label>
            <ion-input type="number" name="coor_bottom_x" formControlName="coor_bottom_x"></ion-input>
        </ion-item>
        <ion-item *ngIf="!siteForm.controls.coor_bottom_x.valid  && (siteForm.controls.coor_bottom_x.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Bottom [Y] (m)</ion-label>
            <ion-input type="number" name="coor_bottom_y" formControlName="coor_bottom_y"></ion-input>
        </ion-item> 
        <ion-item *ngIf="!siteForm.controls.coor_bottom_y.valid  && (siteForm.controls.coor_bottom_y.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>  
        <ion-item>
            <ion-label color="primary" stacked>Margin (m)</ion-label>
            <ion-input type="number" name="coor_margin" formControlName="coor_margin"></ion-input>
        </ion-item> 
        <ion-item *ngIf="!siteForm.controls.coor_margin.valid  && (siteForm.controls.coor_margin.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Power [AC] (kW)</ion-label>
            <ion-input type="number" name="power_ac" formControlName="power_ac"></ion-input>
        </ion-item> 
        <ion-item *ngIf="!siteForm.controls.power_ac.valid  && (siteForm.controls.power_ac.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Power [DC] (kVA)</ion-label>
            <ion-input type="number" name="power_dc" formControlName="power_dc"></ion-input>
        </ion-item> 
        <ion-item *ngIf="!siteForm.controls.power_dc.valid  && (siteForm.controls.power_dc.dirty || submitAttempt)">
          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
      </ion-item>
     
  </form>
