<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar>
       <ion-title>LOGIN</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="loginMe(loginForm)">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Username" name="username" formControlName="username"  required></ion-input>
              <ion-icon md="md-person" item-left></ion-icon>
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.username.valid  && (loginForm.controls.username.touched)">
                <p>Username is reqired</p>
          </ion-item>
            <ion-item icon-left>
              <ion-input type="password" placeholder="Password" name="password" formControlName="password"  required></ion-input>
              <ion-icon md="md-lock" item-left></ion-icon>
            </ion-item>
            <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.touched)">
                <p>Password is reqired</p>
          </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full type="submit" [disabled]="!loginForm.valid">Login</button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>
