<!--
  Generated template for the Step17Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>step17</ion-title>
        <next-page name="Step18Page"></next-page>
      </ion-navbar>
    
    </ion-header>


    <ion-content padding *ngFor="let eq of equip">


            <ion-list-header text-center>
                    <button ion-button menuToggle class="menubtn">
                        <ion-icon name="menu"></ion-icon>
                      </button>
                      Rectifier
                  <a float-right><ion-icon name="add-circle"></ion-icon></a>
                  </ion-list-header>

       
          <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
            <ion-card>
              <ion-list-header  text-center>
                  {{name}}
                  <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
              </ion-list-header>
              <div *ngIf="hideShowContent">
                  <ion-list-header text-center>
                      Verification
                      <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                      </ion-list-header>
             
                      <div *ngIf="hideShowSubContent">
                         <equipment-basic-template type="rectifier"></equipment-basic-template>
                         <ion-item>
                            <ion-label color="primary" stacked>Power Rack Capacity</ion-label>
                            <ion-input type="number" name="rec_powerrac" formControlName="rec_powerrac"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.rec_powerrac.valid  && (siteForm.controls.rec_powerrac.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Number of modules installed</ion-label>
                            <ion-input type="number" name="rec_nomodules" formControlName="rec_nomodules"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.rec_nomodules.valid  && (siteForm.controls.rec_nomodules.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Rating of each module</ion-label>
                            <ion-input type="text" name="rec_ratingmodules" formControlName="rec_ratingmodules"></ion-input>
                        </ion-item> 
                        <ion-item>
                            <ion-label color="primary" stacked>Connected to tenant</ion-label>
                            <ion-input type="text" name="rec_conntenant" formControlName="rec_conntenant"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>FOB Cost</ion-label>
                            <ion-input type="number" name="rec_fobcost" formControlName="rec_fobcost"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.rec_fobcost.valid  && (siteForm.controls.rec_fobcost.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item> 
                        <ion-item>
                            <ion-label color="primary" stacked>Installation Cost</ion-label>
                            <ion-input type="number" name="rec_inscost" formControlName="rec_inscost"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.rec_inscost.valid  && (siteForm.controls.rec_inscost.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Monthly maint. cost</ion-label>
                            <ion-input type="number" name="rec_mmcost" formControlName="rec_mmcost"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.rec_mmcost.valid  && (siteForm.controls.rec_mmcost.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                      </div> 
                      <survey step="17" eqId="eq.id" miltiply="yes"></survey>
                      <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
                  
                </div>
                </ion-card>  
            </form>
        
      </ion-content>
