<!--
  Generated template for the Step8Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>step8</ion-title>
    <next-page name="Step9Page"></next-page>
  </ion-navbar>

</ion-header>
<ion-content padding *ngFor="let eq of equip">
  <ion-list-header text-center>
      <button ion-button menuToggle class="menubtn">
          <ion-icon name="menu"></ion-icon>
        </button>
    Generators
    <a float-right><ion-icon name="add-circle"></ion-icon></a>
    </ion-list-header>
    <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
      <ion-card>
        <ion-list-header  text-center>
            {{name}}
            <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
        </ion-list-header>
        <div *ngIf="hideShowContent">
            <ion-list-header text-center>
                Verification
                <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                </ion-list-header>
                <div *ngIf="hideShowSubContent">
                    <equipment-basic-template type="generator" ></equipment-basic-template>
                <ion-item>
                  <ion-label color="primary" stacked>Installation Date</ion-label>
                  <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                  monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                  dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="gs_installdate"></ion-datetime>
                </ion-item>   
                <ion-item>
                  <ion-label color="primary" stacked>Rating of Generator (KVA) </ion-label>
                  <ion-input type="number" name="gs_kva_rating" formControlName="gs_kva_rating"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_kva_rating.valid  && (siteForm.controls.gs_kva_rating.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Actual Power Consumed (KVA) </ion-label>
                  <ion-input type="number" name="gs_kva_actual" formControlName="gs_kva_actual"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_kva_actual.valid  && (siteForm.controls.gs_kva_actual.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Frequency On Load </ion-label>
                  <ion-input type="number" name="gs_fonload" formControlName="gs_fonload"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_fonload.valid  && (siteForm.controls.gs_fonload.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Montly Run (h)</ion-label>
                  <ion-input type="number" name="gs_montly_rh" formControlName="gs_montly_rh"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_montly_rh.valid  && (siteForm.controls.gs_montly_rh.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Acumulated Run (h)</ion-label>
                  <ion-input type="number" name="gs_acum__rh" formControlName="gs_acum__rh"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_acum__rh.valid  && (siteForm.controls.gs_acum__rh.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label>Fuel Tank Installed</ion-label>
                  <ion-checkbox name="gs_fuel_tank" formControlName="gs_fuel_tank"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Int.Fuel Tank Capacity (L)</ion-label>
                  <ion-input type="number" name="gs_fuel_tank_l" formControlName="gs_fuel_tank_l"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_fuel_tank_l.valid  && (siteForm.controls.gs_fuel_tank_l.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Avg Fuel Consumption (L/h)</ion-label>
                  <ion-input type="number" name="gs_fuel_avgcons" formControlName="gs_fuel_avgcons"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_fuel_avgcons.valid  && (siteForm.controls.gs_fuel_avgcons.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Montly Fuel Consumption (L)</ion-label>
                  <ion-input type="number" name="gs_fuel_mc" formControlName="gs_fuel_mc"></ion-input>
                </ion-item> 
                <ion-item *ngIf="!siteForm.controls.gs_fuel_mc.valid  && (siteForm.controls.gs_fuel_mc.dirty || submitAttempt)">
                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label>D.G Installed with Canopy</ion-label>
                  <ion-checkbox name="gs_canoy" formControlName="gs_canoy"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Canopy Installed</ion-label>
                  <ion-checkbox name="gs_canopy_ins" formControlName="gs_canopy_ins"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Generator in Room</ion-label>
                  <ion-checkbox name="gs_inroom" formControlName="gs_inroom"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Genset Control Module Make Model</ion-label>
                  <ion-input type="text" name="gs_cmodel" formControlName="gs_cmodel"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Hour Meter Reading</ion-label>
                  <ion-input type="text" name="gs_hmr" formControlName="gs_hmr"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label color="primary" stacked>Panel Serial Number</ion-label>
                  <ion-input type="text" name="gs_panel_sn" formControlName="gs_panel_sn"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label color="primary" stacked>Engine Serial Number</ion-label>
                  <ion-input type="text" name="gs_engine_sn" formControlName="gs_engine_sn"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>ATS</ion-label>
                  <ion-checkbox name="gs_ats" formControlName="gs_ats"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>ATS Breaker and other component status</ion-label>
                  <ion-checkbox name="gs_ats_breaker" formControlName="gs_ats_breaker"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>ATS Panel Status</ion-label>
                  <ion-checkbox name="gs_ats_panel" formControlName="gs_ats_panel"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>ATS Cabling Status</ion-label>
                  <ion-checkbox name="gs_ats_cabling" formControlName="gs_ats_cabling"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Alarm</ion-label>
                  <ion-checkbox name="gs_alarm" formControlName="gs_alarm"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Cleaning</ion-label>
                  <ion-checkbox name="gs_cleaning" formControlName="gs_cleaning"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>Paint required</ion-label>
                  <ion-checkbox name="gs_paint" formControlName="gs_paint"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Last Oil Change Major</ion-label>
                  <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                  monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                  dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="gs_lastoilcange"></ion-datetime>
                </ion-item>   
                <ion-item>
                  <ion-label color="primary" stacked>Last PM Hours</ion-label>
                  <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                  monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                  dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="gs_lastprh"></ion-datetime>
                </ion-item>  
                </div> 
              
                <survey step="8" eqId="eq.id" miltiply="yes"></survey>
            
                <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
    
          </div>
          </ion-card>  
      </form>
  
</ion-content>
