<!--
  Generated template for the AutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search {{title}}</ion-title>
     <ion-buttons right>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="md-close-circle" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="false"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
 <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list [virtualScroll]="items">
        <ion-item *virtualItem="let item" (click)="itemSelected(item)">
            {{item.display_name }}
        </ion-item>
    </ion-list>
</ion-content>
