<!--
  Generated template for the Step1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      
    <ion-title>Step 1</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <next-page *ngIf="this.sites!=''" name="Step2Page"></next-page>
  </ion-navbar>

</ion-header>


<ion-content padding>
   
  <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="searchSites($event)"
   (ionCancel)="onCancel($event)"
   >
  </ion-searchbar>
</ion-content>
