<!--
  Generated template for the Step18Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>step18</ion-title>
        <next-page name="Step19Page"></next-page>
      </ion-navbar>
    
    </ion-header>


    <ion-content padding *ngFor="let eq of equip">

            <ion-list-header text-center>
                    <button ion-button menuToggle class="menubtn">
                        <ion-icon name="menu"></ion-icon>
                      </button>
                      Battery
                  <a float-right><ion-icon name="add-circle"></ion-icon></a>
                  </ion-list-header>

       
          <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
            <ion-card>
              <ion-list-header  text-center>
                  {{name}}
                  <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
              </ion-list-header>
              <div *ngIf="hideShowContent">
                  <ion-list-header text-center>
                      Verification
                      <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                      </ion-list-header>
        
                  
                      <div *ngIf="hideShowSubContent">
                         <equipment-basic-template type="battery"></equipment-basic-template>
                         <ion-item>
                            <ion-label color="primary" stacked>Indoor/Outdoor</ion-label>
                            <ion-select formControlName="batt_inout" >
                              <ion-option value="indoor">Indoor</ion-option>
                              <ion-option value="outdoor">Outdoor</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Housing</ion-label>
                            <ion-select formControlName="batt_housing" >
                              <ion-option value="Indipendet">Indipendent</ion-option>
                              <ion-option value="In Rectifier">In Rectifier</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>RFS Date</ion-label>
                            <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                            monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                            dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="batt_date"></ion-datetime>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>2V/12V</ion-label>
                              <ion-select formControlName="batt_v" >
                                <ion-option value="2v">2V</ion-option>
                                <ion-option value="12v">12V</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Rated Capacity (Ah)</ion-label>
                              <ion-input type="number" name="batt_rcap" formControlName="batt_rcap"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.batt_rcap.valid  && (siteForm.controls.batt_rcap.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Usable Capacity (Ah)</ion-label>
                              <ion-input type="number" name="batt_ucap" formControlName="batt_ucap"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.batt_ucap.valid  && (siteForm.controls.batt_ucap.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Cooling Status</ion-label>
                              <ion-select formControlName="batt_cstatus" >
                                <ion-option value="aircon">Aircon</ion-option>
                                <ion-option value="fcu">FCU</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Connected to tenant</ion-label>
                              <ion-input type="text" name="batt_conntenant" formControlName="batt_conntenant"></ion-input>
                          </ion-item> 
                          <ion-item>
                              <ion-label color="primary" stacked>FOB Cost</ion-label>
                              <ion-input type="number" name="batt_fobcost" formControlName="batt_fobcost"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.batt_fobcost.valid  && (siteForm.controls.batt_fobcost.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Installation Cost</ion-label>
                              <ion-input type="number" name="batt_inscost" formControlName="batt_inscost"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.batt_inscost.valid  && (siteForm.controls.batt_inscost.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Monthly maint. cost</ion-label>
                              <ion-input type="number" name="batt_mmcost" formControlName="batt_mmcost"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.batt_mmcost.valid  && (siteForm.controls.batt_mmcost.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                      </div> 
                      <survey step="18" eqId="eq.id" miltiply="yes"></survey>
                      <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
               
                </div>
                </ion-card>  
            </form>
        
      </ion-content>
