<!--
  Generated template for the Step13Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>step13</ion-title>
    <next-page name="Step14Page"></next-page>
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let eq of equip">

    <ion-list-header text-center>
        <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button>
          Fuel Tank
      <a float-right><ion-icon name="add-circle"></ion-icon></a>
      </ion-list-header>
    
      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
        <ion-card>
          <ion-list-header  text-center>
              {{name}}
              <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
          </ion-list-header>
          <div *ngIf="hideShowContent">
              <ion-list-header text-center>
                  Verification
                  <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                  </ion-list-header>
     
                  <div *ngIf="hideShowSubContent">
                     <equipment-basic-template type="tank"></equipment-basic-template>

                     <ion-item>
                        <ion-label color="primary" stacked>Installation Date</ion-label>
                        <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                        monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                        dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="tank_installdate"></ion-datetime>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Type</ion-label>
                          <ion-select formControlName="tank_shape" >
                            <ion-option value="Cylindrical">Cylindrical</ion-option>
                            <ion-option value="Cubical">Cubical</ion-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Dim.Cylidrical (Length, Circumf.) </ion-label>
                            <ion-input type="text" name="tank_dim_cylindric" formControlName="tank_dim_cylindric"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Dim.Cubical (Length, Width, Height)</ion-label>
                            <ion-input type="text" name="tank_dim_cubical" formControlName="tank_dim_cubical"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Capacity (L) </ion-label>
                            <ion-input type="number" name="tank_capacity" formControlName="tank_capacity"></ion-input>
                          </ion-item> 
                          <ion-item *ngIf="!siteForm.controls.tank_capacity.valid  && (siteForm.controls.tank_capacity.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Fuel Sensor Installed</ion-label>
                              <ion-select formControlName="tank_fs_installed" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                            </ion-item>
                  </div> 
                  <survey step="13" eqId="eq.id" miltiply="yes"></survey>
                  <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
          
            </div>
            </ion-card>  
        </form>
    
  </ion-content>

