<!--
  Generated template for the Step21Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-header>
        
          <ion-navbar>
              <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
            <ion-title>step21</ion-title>
            <next-page name="Step22Page"></next-page>
          </ion-navbar>
        
        </ion-header>

</ion-header>


<ion-content padding>

</ion-content>
