<!--
  Generated template for the Step4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          
        <ion-title >Step 4</ion-title>
        <next-page name="Step5Page"></next-page>
      </ion-navbar>
      
    </ion-header>
    
    
    <ion-content padding>
      <ion-list-header text-center>
          <button ion-button menuToggle class="menubtn">
              <ion-icon name="menu"></ion-icon>
            </button>
        Housing Capacity
        </ion-list-header>
        <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
     
                     <ion-item>
                        <ion-label color="primary" stacked>Rented Area (RA)</ion-label>
                      <ion-select formControlName="et_inoutdoor">
                        <ion-option value="indoor">Indoor</ion-option>
                        <ion-option value="outdoor">Outdoor</ion-option>
                      </ion-select>
                     </ion-item>
                     <ion-item>
                      <ion-label color="primary" stacked>W (m)</ion-label>
                      <ion-input type="number" name="et_winm" formControlName="et_winm"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!siteForm.controls.et_winm.valid  && (siteForm.controls.et_winm.dirty || submitAttempt)">
                        <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                    </ion-item>
                    <ion-item>
                      <ion-label color="primary" stacked>L (m)</ion-label>
                      <ion-input type="number" name="et_linm" formControlName="et_linm"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!siteForm.controls.et_linm.valid  && (siteForm.controls.et_linm.dirty || submitAttempt)">
                      <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" stacked>H (m)</ion-label>
                    <ion-input type="number" name="et_hinm" formControlName="et_hinm"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="!siteForm.controls.et_hinm.valid  && (siteForm.controls.et_hinm.dirty || submitAttempt)">
                      <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                  </ion-item>
                  <ion-item>
                    <ion-label color="primary" stacked>Contract Capacity (m2)</ion-label>
                    <ion-input type="number" name="et_desing_area" formControlName="et_desing_area"></ion-input>
                </ion-item>
                <ion-item *ngIf="!siteForm.controls.et_desing_area.valid  && (siteForm.controls.et_desing_area.dirty || submitAttempt)">
                    <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                </ion-item>
                <ion-item>
                  <ion-label>Sunshade</ion-label>
                  <ion-checkbox name="et_sunshade" formControlName="et_sunshade"></ion-checkbox>
              </ion-item>  
      
              <ion-card>
                
                       <survey step="4" miltiply="no"></survey>
                 
               </ion-card>
            
                    <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
            
          </form>
  </ion-content>