<!--
  Generated template for the Step15Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>step15</ion-title>
        <next-page name="Step16Page"></next-page>
      </ion-navbar>
    
    </ion-header>


    <ion-content padding *ngFor="let eq of equip">

            <ion-list-header text-center>
                    <button ion-button menuToggle class="menubtn">
                        <ion-icon name="menu"></ion-icon>
                      </button>
                      IPS
                  <a float-right><ion-icon name="add-circle"></ion-icon></a>
                  </ion-list-header>


       
          <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
            <ion-card>
              <ion-list-header  text-center>
                  {{name}}
                  <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
              </ion-list-header>
              <div *ngIf="hideShowContent">
                  <ion-list-header text-center>
                      Verification
                      <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                      </ion-list-header>
            
                  
                      <div *ngIf="hideShowSubContent">
                         <equipment-basic-template type="ipsats"></equipment-basic-template>
                          <ion-item>
                            <ion-label color="primary" stacked>Rating (KVA)</ion-label>
                            <ion-input type="number" name="ipsats_rating" formControlName="ipsats_rating"></ion-input>
                          </ion-item>
                          <ion-item *ngIf="!siteForm.controls.ipsats_rating.valid  && (siteForm.controls.ipsats_rating.dirty || submitAttempt)">
                            <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Housing</ion-label>
                              <ion-select formControlName="ipsats_housing" >
                                <ion-option value="Indoor">Indoor</ion-option>
                                <ion-option value="Outdoor">Outdoor</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Installed By</ion-label>
                              <ion-select formControlName="ipsats_insby" >
                                <ion-option value="insteam">Insource Team</ion-option>
                                <ion-option value="subcon">Subcon</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Dim.of Cabinet (Length, Width, Height)</ion-label>
                              <ion-input type="text" name="ipsats_dim_cabinet" formControlName="ipsats_dim_cabinet"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>IP Rating</ion-label>
                              <ion-input type="text" name="ipsats_ip_rating" formControlName="ipsats_ip_rating"></ion-input>
                          </ion-item> 
                          <ion-item>
                              <ion-label color="primary" stacked>Builtin LC Available</ion-label>
                              <ion-select formControlName="ipsats_built_lc" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Builtin APS</ion-label>
                              <ion-select formControlName="ipsats_built_aps" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>AMF/ATS</ion-label>
                              <ion-select formControlName="ipsats_amf_ats" >
                                  <ion-option value="No">No</ion-option>
                                  <ion-option value="Standard">Standard</ion-option>
                                  <ion-option value="LV">LV</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>SPD</ion-label>
                              <ion-select formControlName="ipsats_spd" >
                                  <ion-option value="Class B">Class B</ion-option>
                                  <ion-option value="Class C">Class C</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Energy Metering</ion-label>
                              <ion-select formControlName="ipsats_en_metering" >
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>System Monitoring</ion-label>
                              <ion-select formControlName="ipsats_sys_monitor" >
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Under/Over Vol.Protection</ion-label>
                              <ion-select formControlName="ipsats_uovp" >
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Genset Battery Static Charger</ion-label>
                              <ion-select formControlName="ipsats_gbsc" >
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>DC TLC</ion-label>
                              <ion-select formControlName="ipsats_dctlc" >
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>ACDB Details </ion-label>
                              <ion-input type="text" name="ipsats_acdb_details" formControlName="ipsats_acdb_details"></ion-input>
                            </ion-item>
                      </div> 
                      <survey step="15" eqId="eq.id" miltiply="yes"></survey>
                      <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
              
                </div>
                </ion-card>  
            </form>
        
      </ion-content>
