<!--
  Generated template for the Step12Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>step12</ion-title>
    <next-page name="Step13Page"></next-page>
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let eq of equip">

    <ion-list-header text-center>
        <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button>
          Tech Room
      <a float-right><ion-icon name="add-circle"></ion-icon></a>
      </ion-list-header>
  
    
      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
        <ion-card>
          <ion-list-header  text-center>
              {{name}}
              <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
          </ion-list-header>
          <div *ngIf="hideShowContent">
              <ion-list-header text-center>
                  Verification
                  <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                  </ion-list-header>
         
              
                  <div *ngIf="hideShowSubContent">
                     <equipment-basic-template type="techroom"></equipment-basic-template>
                     <ion-item>
                        <ion-label color="primary" stacked>Type</ion-label>
                        <ion-select formControlName="techroom_type" >
                          <ion-option value="TechRoom 1">TechRoom 1</ion-option>
                          <ion-option value="TechRoom 2">TechRoom 2</ion-option>
                        </ion-select>
                      </ion-item>
                     
                  </div> 
                  <survey step="13" eqId="eq.id" miltiply="yes"></survey>
                  <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
               
            </div>
            </ion-card>  
        </form>
    
  </ion-content>
