<!--
  Generated template for the Step14Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>step14</ion-title>
      <next-page name="Step15Page"></next-page>
    </ion-navbar>
  
  </ion-header>


<ion-content padding *ngFor="let eq of equip">

    <ion-list-header text-center>
        <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button>
          Line Conditioner
      <a float-right><ion-icon name="add-circle"></ion-icon></a>
      </ion-list-header>

 
    <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
      <ion-card>
        <ion-list-header  text-center>
            {{name}}
            <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
        </ion-list-header>
        <div *ngIf="hideShowContent">
            <ion-list-header text-center>
                Verification
                <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                </ion-list-header>
       
            
                <div *ngIf="hideShowSubContent">
                   <equipment-basic-template type="linecon"></equipment-basic-template>
                    <ion-item>
                        <ion-label color="primary" stacked>Type</ion-label>
                        <ion-select formControlName="linecon_type" >
                          <ion-option value="Inside IPS">Inside IPS</ion-option>
                          <ion-option value="Separate cabinet">Separate cabinet</ion-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label color="primary" stacked>Housing</ion-label>
                        <ion-select formControlName="linecon_housing" >
                          <ion-option value="Indoor">Indoor</ion-option>
                          <ion-option value="Outdoor">Outdoor</ion-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Rating (KVA)</ion-label>
                          <ion-input type="text" name="linecon_rating" formControlName="linecon_rating"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Input Voltage (V)</ion-label>
                          <ion-input type="number" name="linecon_inp_v" formControlName="linecon_inp_v"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!siteForm.controls.linecon_inp_v.valid  && (siteForm.controls.linecon_inp_v.dirty || submitAttempt)">
                        <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Output Voltage (V) </ion-label>
                          <ion-input type="number" name="linecon_out_v" formControlName="linecon_out_v"></ion-input>
                        </ion-item> 
                        <ion-item *ngIf="!siteForm.controls.linecon_out_v.valid  && (siteForm.controls.linecon_out_v.dirty || submitAttempt)">
                          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                        </ion-item>
                </div> 
    
                <survey step="14" eqId="eq.id" miltiply="yes"></survey>
                <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
          
          </div>
          </ion-card>  
      </form>
  
</ion-content>


