<!-- Generated template for the NextPageComponent component -->
<button ion-button icon-end clear float-right (click)="clicked($event)"> 
    
    <span>Next</span> 
    <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>

</button>