<!--
  Generated template for the Step7Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    
      <ion-navbar>
        <ion-title >Step 7</ion-title>
        <next-page name="Step8Page"></next-page>
      </ion-navbar>
      
    </ion-header>
    
    
    <ion-content padding>
      <ion-list-header text-center>
          <button ion-button menuToggle class="menubtn">
              <ion-icon name="menu"></ion-icon>
            </button>
        Landlord
        </ion-list-header>
        <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
           
                <odoo-dropdown search="telco.tower.site.lease" [model]='siteForm.value.site_lease_id[0]  || siteForm.value.site_lease_id  || false'
                (modelUpdate)='siteForm.patchValue({site_lease_id:$event})' name="Lease Info"></odoo-dropdown>
              
            
                <ion-card>
                  
                         <survey step="7" miltiply="no"></survey>
                   
                 </ion-card>
              
              
                    <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
                 
          </form>
  </ion-content>
