<!-- Generated template for the SurveyComponent component -->

    <ion-list-header  text-center>
        Survey
        <a (click)="hideShowSurveyButton()"><ion-icon float-right name="expand"></ion-icon></a>
    </ion-list-header>
   

    <div *ngIf="hideShowSurvey">
          
                <div>{{duplicateSurvay}}</div>
                
                <ion-row class="survey" *ngFor="let row of rowCollection" (click)="itemClicked(row,$index)"> 
                  <ion-col>
                    {{row.name}}
                  </ion-col>
                  <ion-col>
                      {{row.drhddName}}
                    </ion-col>
                    <ion-col>
                        {{row.drhd_number}}
                      </ion-col>
                      <ion-col>
                          {{row.drhd_date}}
                        </ion-col>
                        <ion-col>
                            {{row.drhd_detail}}
                          </ion-col>

                </ion-row>
              </div>
  
      
      

