<!--
  Generated template for the Step16Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>step16</ion-title>
        <next-page name="Step17Page"></next-page>
      </ion-navbar>
    
    </ion-header>


    <ion-content padding *ngFor="let eq of equip">

            <ion-list-header text-center>
                    <button ion-button menuToggle class="menubtn">
                        <ion-icon name="menu"></ion-icon>
                      </button>
                      ATS/AMF
                  <a float-right><ion-icon name="add-circle"></ion-icon></a>
                  </ion-list-header>

        
          <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
            <ion-card>
              <ion-list-header  text-center>
                  {{name}}
                  <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
              </ion-list-header>
              <div *ngIf="hideShowContent">
                  <ion-list-header text-center>
                      Verification
                      <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                      </ion-list-header>
            
                  
                      <div *ngIf="hideShowSubContent">
                         <equipment-basic-template type="atsamf"></equipment-basic-template>
                          <ion-item>
                              <ion-label color="primary" stacked>AMF with ATS</ion-label>
                              <ion-select formControlName="atsamf_type" >
                                <ion-option value="Standard">Standard</ion-option>
                                <ion-option value="LV">LV</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Housing</ion-label>
                              <ion-select formControlName="atsamf_housing" >
                                <ion-option value="Indoor">Indoor</ion-option>
                                <ion-option value="Outdoor">Outdoor</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>IP Rating</ion-label>
                              <ion-input type="text" name="atsamf_ip_rating" formControlName="atsamf_ip_rating"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>PMM</ion-label>
                              <ion-select formControlName="atsamf_pmm" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>DC Battery Charger</ion-label>
                              <ion-select formControlName="atsamf_dcbc" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Hardware</ion-label>
                              <ion-select formControlName="atsamf_hw" >
                                <ion-option value="Yes">Yes</ion-option>
                                <ion-option value="No">No</ion-option>
                              </ion-select>
                          </ion-item>
                      </div> 
                      <survey step="16" eqId="eq.id" miltiply="yes"></survey>
                      <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
                  
                </div>
                </ion-card>  
            </form>
        
      </ion-content>
