<!--
  Generated template for the Step6Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    
      <ion-navbar>
          
        <ion-title>Step 6</ion-title>
        <next-page name="Step7Page"></next-page>
      </ion-navbar>
      
    </ion-header>
    
    
    <ion-content padding>
      <ion-list-header text-center>
          <button ion-button menuToggle class="menubtn">
              <ion-icon name="menu"></ion-icon>
            </button>
        Site Security Information
        </ion-list-header>
        <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
    
                  <ion-item>
                    <ion-label>Security Status (Guarded)</ion-label>
                    <ion-checkbox name="sap_status" formControlName="sap_status"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Is Site Owner Guard Himself?</ion-label>
                    <ion-checkbox name="sap_ogh" formControlName="sap_ogh"></ion-checkbox>
                </ion-item>
                <odoo-dropdown search="res.partner" [model]='siteForm.value.sap_seccompany_id[0]  || siteForm.value.sap_seccompany_id  || false'
                (modelUpdate)='siteForm.patchValue({sap_seccompany_id:$event})' name="Security Company"></odoo-dropdown>
                <ion-item>
                  <ion-label color="primary" stacked>Security Company Contact</ion-label>
                  <ion-input type="text" name="sap_seccompany_contact" formControlName="sap_seccompany_contact"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Security Guard Day Contact</ion-label>
                  <ion-input type="text" name="sap_seccompany_gdc" formControlName="sap_seccompany_gdc"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Security Guard Night Contact</ion-label>
                  <ion-input type="text" name="sap_seccompany_gnc" formControlName="sap_seccompany_gnc"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Boundary Wall Constructed</ion-label>
                  <ion-select formControlName="sap_bwallc" >
                    <ion-option value="Yes">Yes</ion-option>
                    <ion-option value="No">No</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label color="primary" stacked>Gate Installed</ion-label>
                  <ion-select formControlName="sap_gate_install" >
                    <ion-option value="Yes">Yes</ion-option>
                    <ion-option value="No">No</ion-option>
                  </ion-select>
                </ion-item>
                  <ion-item>
                    <ion-label color="primary" stacked>Fence Installed</ion-label>
                    <ion-select formControlName="sap_fence_install" >
                      <ion-option value="Yes">Yes</ion-option>
                      <ion-option value="No">No</ion-option>
                    </ion-select>
                  </ion-item>
                    <ion-item>
                      <ion-label>Independent Access</ion-label>
                      <ion-checkbox name="sap_independent_access" formControlName="sap_independent_access"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>24x7 Access</ion-label>
                      <ion-checkbox name="sap_24x7access" formControlName="sap_24x7access"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>Perimeter</ion-label>
                      <ion-checkbox name="sap_bw_constructed" formControlName="sap_bw_constructed"></ion-checkbox>
                    </ion-item>
          
                    <ion-card>
                      
                             <survey step="6" miltiply="no"></survey>
                       
                     </ion-card>
          
                    <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
              
          </form>
  </ion-content>