// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.icon.icon-ios.ion-ios-arrow-forward {
    font-size: 3.4rem;
    margin: -1px 0px 0 0;
    display: inherit;
    min-width: 18px;
    padding: 4px;
}
span {
    font-size: 1.7rem;
    font-weight: 400;
}
.title.title-ios {
    margin-top:20px;
}
.toolbar-content.toolbar-content-ios {
    height: 60px;
}
.toolbar button {
    margin-top:20px;
}
.menubtn {
    position:absolute; 
    left:15px; 
    top:5px; 
    background-color:transparent; 
    color:black;
}
.errorMSG {
    color:red; 
    font-size:10px;
}