<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Howdy, {{user}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-button full (click)="logout()" >
        LOGOUT
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>