<!--
  Generated template for the Step20Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-header>
        
          <ion-navbar>
              <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
            <ion-title>step20</ion-title>
            <next-page name="Step21Page"></next-page>
          </ion-navbar>
        
        </ion-header>

</ion-header>


<ion-content padding *ngFor="let eq of equip">

    <ion-list-header text-center>
        <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button>
          RMS
          <a float-right><ion-icon name="add-circle"></ion-icon></a>
      </ion-list-header>
    
     




      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
        <ion-card>
          <ion-list-header  text-center>
              {{name}}
              <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
          </ion-list-header>
          <div *ngIf="hideShowContent">
              <ion-list-header text-center>
                  Verification
                  <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                  </ion-list-header>
        
                  <div *ngIf="hideShowSubContent">
                     <equipment-basic-template type="rms"></equipment-basic-template>
                     <ion-item>
                        <ion-label color="primary" stacked>Type</ion-label>
                        <ion-select formControlName="aircon_type" >
                          <ion-option value="Type 1">Type 1</ion-option>
                          <ion-option value="Type 2">Type 2</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label color="primary" stacked>Rating (KVA)</ion-label>
                        <ion-input type="text" name="aircon_rating" formControlName="aircon_rating"></ion-input>
                    </ion-item>
                     
                  </div> 
                  <survey step="20" eqId="eq.id" miltiply="yes"></survey>
                  <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
            
            </div>
            </ion-card>  
        </form>
    
  </ion-content>
