<!--
  Generated template for the Step2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
   
  <ion-navbar>
     
    <ion-title>Step 2</ion-title>
   
    <next-page name="Step3Page"></next-page>
   
  </ion-navbar>
  
</ion-header>
<ion-content padding>
    
    <ion-list-header text-center>
        <button ion-button menuToggle class="menubtn">
                <ion-icon name="menu"></ion-icon>
              </button>
      Basic data
    </ion-list-header>
      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
    
                      <odoo-dropdown search="telco.tower.site.surroundings" [model]='siteForm.value.site_surroundings_id[0]  || siteForm.value.site_surroundings_id  || false'
                      (modelUpdate)='siteForm.patchValue({site_surroundings_id:$event})' name="Population Density"></odoo-dropdown>
                      
                      <odoo-dropdown  search="telco.tower.site.project.group" [model]='siteForm.value.site_project_group_id[0]  || siteForm.value.site_project_group_id  || false'
                      (modelUpdate)='siteForm.patchValue({site_project_group_id:$event})' name="Site Milestone">
                      </odoo-dropdown>
                      <ion-item>
                       <ion-label color="primary" stacked>Date of Construction</ion-label>
                      <ion-datetime displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                      monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                      dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="site_constr_date"></ion-datetime>
              
                    </ion-item>
                  <ion-item>
                      <ion-label color="primary" stacked>Notes</ion-label>
                      <ion-input type="text" name="note" formControlName="note"></ion-input>
                  </ion-item>
         
          <ion-card>
         
                <survey step="2" miltiply="no"></survey>
          
        </ion-card>
        
              
              <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
      
        </form>
</ion-content>
