<!--
  Generated template for the Step5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    
      <ion-navbar>
         
        <ion-title >Step 5</ion-title>
        <next-page name="Step6Page"></next-page>
      </ion-navbar>
      
    </ion-header>
    
    
    <ion-content padding>
      <ion-list-header text-center>
          <button ion-button menuToggle class="menubtn">
              <ion-icon name="menu"></ion-icon>
            </button>
        Power
        </ion-list-header>
        <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
                    <ion-item>
                      <ion-label color="primary" stacked>Status</ion-label>
                      <ion-select formControlName="cp_status" >
                        <ion-option value="ongrid">ON grid</ion-option>
                        <ion-option value="offgrid">OFF grid</ion-option>
                      </ion-select>
                    </ion-item>
                    <odoo-dropdown search="res.partner" [model]='siteForm.value.cp_electrical_company[0]  || siteForm.value.cp_electrical_company  || false'
                    (modelUpdate)='siteForm.patchValue({cp_electrical_company:$event})' name="ESCO"></odoo-dropdown>
                    <ion-item>
                        <ion-label color="primary" stacked>WAPDA KESC</ion-label>
                        <ion-input type="text" name="cp_wapda" formControlName="cp_wapda"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Grid Station Location</ion-label>
                          <ion-input type="text" name="cp_grid_station_loc" formControlName="cp_grid_station_loc"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Commercial Power Availability</ion-label>
                            <ion-checkbox name="cp_availab" formControlName="cp_availab"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Energy Meter</ion-label>
                            <ion-checkbox name="cp_con_meter" formControlName="cp_con_meter"></ion-checkbox>
                        </ion-item> 
                        <ion-item>
                            <ion-label color="primary" stacked>Energy Meter Type</ion-label>
                            <ion-select formControlName="cp_energy_meter_type">
                              <ion-option value="singl_phase">Single phase</ion-option>
                              <ion-option value="three_phase">Three phase</ion-option>
                            </ion-select>
                          </ion-item>
                          <ion-item>
                          <ion-label color="primary" stacked>Application Date</ion-label>
                          <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                          monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                          dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="cp_application_date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Approved Date</ion-label>
                          <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                          monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                          dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="cp_approved_date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label color="primary" stacked>Application #</ion-label>
                            <ion-input type="text" name="cp_application" formControlName="cp_application"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Connection Date</ion-label>
                            <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                            monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                            dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="cp_conn_date"></ion-datetime>
                          </ion-item>
                          <ion-item>
                              <ion-label>Transf. Available</ion-label>
                              <ion-checkbox name="cp_trnsform_install" formControlName="cp_trnsform_install"></ion-checkbox>
                          </ion-item> 
                          <ion-item>
                              <ion-label color="primary" stacked>Transf. Size</ion-label>
                              <ion-input type="text" name="cp_trnsform_size" formControlName="cp_trnsform_size"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary" stacked>Transf. Rating (KVA)</ion-label>
                                <ion-input type="number" name="cp_trnsform_rating" formControlName="cp_trnsform_rating"></ion-input>
                              </ion-item>
                              <ion-item *ngIf="!siteForm.controls.cp_trnsform_rating.valid  && (siteForm.controls.cp_trnsform_rating.dirty || submitAttempt)">
                                  <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                              </ion-item>
                              <ion-item>
                                  <ion-label color="primary" stacked>Transf. Sanctioned Load (KVA)</ion-label>
                                  <ion-input type="number" name="cp_trnsform_sl_kva" formControlName="cp_trnsform_sl_kva"></ion-input>
                                </ion-item>
                                <ion-item *ngIf="!siteForm.controls.cp_trnsform_sl_kva.valid  && (siteForm.controls.cp_trnsform_sl_kva.dirty || submitAttempt)">
                                    <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                </ion-item>
                                <ion-item>
                                    <ion-label color="primary" stacked>Transf. Sanctioned Load (KW)</ion-label>
                                    <ion-input type="number" name="cp_trnsform_sl_kw" formControlName="cp_trnsform_sl_kw"></ion-input>
                                  </ion-item>
                                  <ion-item *ngIf="!siteForm.controls.cp_trnsform_sl_kw.valid  && (siteForm.cp_trnsform_sl_kw|| submitAttempt)">
                                      <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                  </ion-item>
                                  <ion-item>
                                      <ion-label color="primary" stacked>Available Voltage Status</ion-label>
                                      <ion-select formControlName="cp_avail_vs">
                                        <ion-option value="Ok">Ok</ion-option>
                                        <ion-option value="Lower">Lower</ion-option>
                                        <ion-option value="Higher">Higher</ion-option>
                                      </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label color="primary" stacked>3-Phase avail.100%</ion-label>
                                        <ion-select formControlName="cp_threephase_avail">
                                          <ion-option value="Yes">Yes</ion-option>
                                          <ion-option value="No">No</ion-option>
                                        </ion-select>
                                      </ion-item>
                                      <ion-item>
                                          <ion-label color="primary" stacked>Type of Connection</ion-label>
                                          <ion-select formControlName="cp_type_conn">
                                            <ion-option value="1-Phase">1-Phase</ion-option>
                                            <ion-option value="3-Phase">3-Phase</ion-option>
                                          </ion-select>
                                        </ion-item> 
                                        <ion-item>
                                            <ion-label color="primary" stacked>Tariff</ion-label>
                                            <ion-select formControlName="cp_tariff">
                                              <ion-option value="Domestic">Domestic</ion-option>
                                              <ion-option value="Commercial">Commercial0p</ion-option>
                                            </ion-select>
                                          </ion-item> 
                                          <odoo-dropdown search="telco.tower.site.cp_tariff_type" [model]='siteForm.value.cp_tariff_id[0] ||  siteForm.value.cp_tariff_id  || false'
                                          (modelUpdate)='siteForm.patchValue({cp_tariff_id:$event})' name="Tariff Type"></odoo-dropdown>
                                          <ion-item>
                                              <ion-label color="primary" stacked>Voltage L1-N</ion-label>
                                              <ion-input type="number" name="cp_vol_l1" formControlName="cp_vol_l1"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_vol_l1.valid  && (siteForm.controls.cp_vol_l1.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label color="primary" stacked>Voltage L2-N</ion-label>
                                                <ion-input type="number" name="cp_vol_l2" formControlName="cp_vol_l2"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_vol_l2.valid  && (siteForm.controls.cp_vol_l2.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label color="primary" stacked>Voltage L3-N</ion-label>
                                                <ion-input type="number" name="cp_vol_l3" formControlName="cp_vol_l3"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_vol_l3.valid  && (siteForm.controls.cp_vol_l3.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label color="primary" stacked>Voltage N-G</ion-label>
                                                <ion-input type="number" name="cp_vol_ng" formControlName="cp_vol_ng"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_vol_ng.valid  && (siteForm.controls.cp_vol_ng.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label color="primary" stacked>Annual Avg.Outage (daily) [hh:mm]</ion-label>
                                                <ion-input type="text" name="cp_annave_opd" formControlName="cp_annave_opd"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_annave_opd.valid  && (siteForm.controls.cp_annave_opd.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label color="primary" stacked>Avg. montly bill</ion-label>
                                                <ion-input type="number" name="cp_avg_mb" formControlName="cp_avg_mb"></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="!siteForm.controls.cp_avg_mb.valid  && (siteForm.controls.cp_avg_mb.dirty || submitAttempt)">
                                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                                            </ion-item>
       
                                            <ion-card>
                                                
                                                       <survey step="5" miltiply="no"></survey>
                                                 
                                               </ion-card>
    
                
                    <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
        
          </form>
  </ion-content>