<!--
  Generated template for the Step19Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title>step19</ion-title>
        <next-page name="Step20Page"></next-page>
      </ion-navbar>
    
    </ion-header>


    <ion-content padding *ngFor="let eq of equip">

            <ion-list-header text-center>
                    <button ion-button menuToggle class="menubtn">
                        <ion-icon name="menu"></ion-icon>
                      </button>
                      Solar
                  <a float-right><ion-icon name="add-circle"></ion-icon></a>
                  </ion-list-header>


       
          <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
            <ion-card>
              <ion-list-header  text-center>
                  {{name}}
                  <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
              </ion-list-header>
              <div *ngIf="hideShowContent">
                  <ion-list-header text-center>
                      Verification
                      <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                      </ion-list-header>
             
                  
                      <div *ngIf="hideShowSubContent">
                         <equipment-basic-template type="solar"></equipment-basic-template>
                         <ion-item>
                            <ion-label color="primary" stacked>Installation Date</ion-label>
                            <ion-datetime [disabled]='disableFields' displayFormat="DDDD MMM D, YYYY hh:mm:ss" monthNames="[January, February,March,April,May,June,July,August,September,October,November,December]"
                            monthShortNames="[Jan, Feb, Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]" dayNames="[Monday,Tuesday,Wednesday,Thirsday,Friday,Saturday,Sunday]"
                            dayShortNames="[Mon,Tue,Wed,Thi,Fri,Sat,Sun]" formControlName="solar_ins_date"></ion-datetime>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Type of PV cells</ion-label>
                              <ion-select formControlName="batt_housing" >
                                <ion-option value="Mono Crystaline">Mono Crystaline</ion-option>
                                <ion-option value="Poly Crystaline">Poly Crystaline</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Capacity (kW)</ion-label>
                              <ion-input type="number" name="solar_capacity" formControlName="solar_capacity"></ion-input>
                            </ion-item> 
                            <ion-item *ngIf="!siteForm.controls.solar_capacity.valid  && (siteForm.controls.solar_capacity.dirty || submitAttempt)">
                              <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                          </ion-item>
                          <ion-item>
                              <ion-label color="primary" stacked>Dimensions (Length, Width, Height)</ion-label>
                              <ion-input type="text" name="solar_dim" formControlName="solar_dim"></ion-input>
                            </ion-item> 
                            <ion-item>
                                <ion-label color="primary" stacked>Number of arrays</ion-label>
                                <ion-input type="number" name="solar_narrays" formControlName="solar_narrays"></ion-input>
                              </ion-item> 
                              <ion-item *ngIf="!siteForm.controls.solar_narrays.valid  && (siteForm.controls.solar_narrays.dirty || submitAttempt)">
                                <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                            </ion-item>
                      </div> 
                      <survey step="19" eqId="eq.id" miltiply="yes"></survey>
                      <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
               
                </div>
                </ion-card>  
            </form>
        
      </ion-content>
