<!--
  Generated template for the Step9Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>step9</ion-title>
    <next-page name="Step10Page"></next-page>
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let eq of equip">

        <ion-list-header text-center>
                <button ion-button menuToggle class="menubtn">
                    <ion-icon name="menu"></ion-icon>
                  </button>
                  Shelter
              <a float-right><ion-icon name="add-circle"></ion-icon></a>
              </ion-list-header>


    
      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
        <ion-card>
          <ion-list-header  text-center>
              {{name}}
              <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
          </ion-list-header>
          <div *ngIf="hideShowContent">
              <ion-list-header text-center>
                  Verification
                  <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                  </ion-list-header>
     
              
                  <div *ngIf="hideShowSubContent">
                     <equipment-basic-template type="shelter"></equipment-basic-template>
                    
                     <odoo-dropdown search="telco.equipment.se_shelter.type" [model]='siteForm.value.shelter_type_id[0]  || siteForm.value.shelter_type_id  || false'
                     (modelUpdate)='siteForm.patchValue({shelter_type_id:$event})' name="Shelter Type"></odoo-dropdown>
                     <ion-item>
                        <ion-label color="primary" stacked>Plot size (m2) </ion-label>
                        <ion-input type="number" name="shelter_plot_size" formControlName="shelter_plot_size"></ion-input>
                      </ion-item> 
                      <ion-item *ngIf="!siteForm.controls.shelter_plot_size.valid  && (siteForm.controls.shelter_plot_size.dirty || submitAttempt)">
                        <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                      </ion-item>
                      <ion-item>
                          <ion-label>Shelter/Room</ion-label>
                          <ion-checkbox name="shelter_room" formControlName="shelter_room"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked># of Shelter/Room </ion-label>
                          <ion-input type="number" name="shelter_room_number" formControlName="shelter_room_number"></ion-input>
                      </ion-item> 
                      <ion-item *ngIf="!siteForm.controls.shelter_room_number.valid  && (siteForm.controls.shelter_room_number.dirty || submitAttempt)">
                          <p class="errorMSG">This is a float number field example (25.53) <br> it takes only numbers and accepts only dots, no commas</p>
                      </ion-item>
                      <ion-item>
                          <ion-label>Shelter/room Body Status</ion-label>
                          <ion-checkbox name="shelter_room_body" formControlName="shelter_room_body"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label color="primary" stacked>Dimensions of Shelter/Room</ion-label>
                          <ion-input type="text" name="shelter_room_dim" formControlName="shelter_room_dim"></ion-input>
                      </ion-item> 
                      <ion-item>
                          <ion-label>Door Status</ion-label>
                          <ion-checkbox name="shelter_door" formControlName="shelter_door"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Lock Status</ion-label>
                          <ion-checkbox name="shelter_lock" formControlName="shelter_lock"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Cable Tray Status</ion-label>
                          <ion-checkbox name="shelter_cabel_tray" formControlName="shelter_cabel_tray"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Earthing of cable tray/cable ladders</ion-label>
                          <ion-checkbox name="shelter_earthing_cable" formControlName="shelter_earthing_cable"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Cover of cable tray</ion-label>
                          <ion-checkbox name="shelter_cover_cabel" formControlName="shelter_cover_cabel"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Fire control box</ion-label>
                          <ion-checkbox name="shelter_fire_cbox" formControlName="shelter_fire_cbox"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Check fire control box Lead test</ion-label>
                          <ion-checkbox name="shelter_check_fire_cbox" formControlName="shelter_check_fire_cbox"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Cut the power; Check the Emergency light</ion-label>
                          <ion-checkbox name="shelter_cut_power" formControlName="shelter_cut_power"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Siren test</ion-label>
                          <ion-checkbox name="shelter_siren_test" formControlName="shelter_siren_test"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label>Working Ladder</ion-label>
                          <ion-checkbox name="shelter_wleader" formControlName="shelter_wleader"></ion-checkbox>
                      </ion-item>


                
                  </div> 
                
                  <survey step="9" eqId="eq.id" miltiply="yes"></survey>
              
                  <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
             
            </div>
            </ion-card>  
        </form>
    
  </ion-content>
  