<!--
  Generated template for the Step11Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>step11</ion-title>
    <next-page name="Step12Page"></next-page>
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let eq of equip">

        <ion-list-header text-center>
                <button ion-button menuToggle class="menubtn">
                    <ion-icon name="menu"></ion-icon>
                  </button>
                  Pads
              <a float-right><ion-icon name="add-circle"></ion-icon></a>
              </ion-list-header>



      <form [formGroup]="siteForm" novalidate (ngSubmit)="submit(siteForm.value)">
        <ion-card>
          <ion-list-header  text-center>
              {{name}}
              <a (click)="hideShowContentButton()"><ion-icon float-right name="expand"></ion-icon></a>
          </ion-list-header>
          <div *ngIf="hideShowContent">
              <ion-list-header text-center>
                  Verification
                  <a (click)="hideShowContentSubButton()"><ion-icon float-right name="expand"></ion-icon></a>
                  </ion-list-header>
        
              
                  <div *ngIf="hideShowSubContent">
                     <equipment-basic-template type="pads"></equipment-basic-template>
        
                  </div> 
                  <survey step="11" eqId="eq.id" miltiply="yes"></survey>
                  <button ion-button full type="submit" [disabled]="!siteForm.valid">Submit</button>
              
            </div>
            </ion-card>  
        </form>
    
  </ion-content>